:root{
--primary-font: 'Ysabeau SC', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
}
nav{
    background-color: #f5f3ef;
    
}
nav a{
    color: #414141;
    font-family: var(--secondary-font);
    font-size: 14px;
    transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a{
    text-decoration: none;
    color: #cd819d;
    font-size: 15px;
}
 
nav .brand{
    font-family: var(--primary-font);
    font-size: 30px;
    font-weight: medium 500;
    padding-left: 50px;
}
.slider-container{
    width: 100%;
    height: 300px;
    
    white-space: nowrap;
}
.slide-item{
    display: inline-block;
    width: calc(100%/3);
    height: 100%;
    transition: 0.3ms, ease-in-out;
}
.slide-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-page{
    background-color: #e7a2a9;
    
 
}
.main-text{
    color: whitesmoke;
}
.main-phrase{
    margin-top: 125px;
    font-family: var(--primary-font);
    font-size: 18px;
}
.subtitle-hero{
    font-family: var(--secondary-font);

}
.all-content{
    font-family: var(--primary-font);
    font-size: 18px;
}

.all-content .btn-branding-outline{
    background-color: #f5f3ef ;
    color: #414141;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 100px;
     border: 1.5px solid #3f3f3f;
      padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    font-family: var(--secondary-font);
   
    }

.all-content a{
    color: #414141;
    transition: all 100ms ease-in-out;
}
.all-content a:hover{
    background-color: #f1c4c3;
}
 .main-pic img{
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 60px;
 }
