:root{
--primary-font: 'Ysabeau SC', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --primary-color: #f5f3ef;
  --secondary-color:#cd819d;
}
nav{
    background-color:var(--primary-color);
    
}
nav a{
    color: #414141;
    font-family: var(--secondary-font);
    font-size: 14px;
    transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 15px;
}
 
nav .brand{
    font-family: var(--primary-font);
    font-size: 30px;
    font-weight:  500;
    padding-left: 50px;
}.main-page{
    background-color: #e7a2a9;
    width: 100%;  
 
}
.main-text{
    color: whitesmoke;
}
.main-phrase{
    margin-top: 125px;
    font-family: var(--primary-font);
    font-size: 18px;
}
.subtitle-hero{
    font-family: var(--secondary-font);

}
.all-content{
    font-family: var(--primary-font);
    font-size: 18px;
}

.all-content .btn-branding-outline{
    background-color: var(--primary-color);
    color: #414141;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 100px;
     border: 1.5px solid #3f3f3f;
      padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    font-family: var(--secondary-font);
   
    }

.all-content a{
    color: #414141;
    transition: all 100ms ease-in-out;
}
.all-content a:hover{
    background-color: #f1c4c3;
}
 .main-pic img{
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 60px;
 }
  .about-page{
    background-color: var(--primary-color);
 }
.head-about{
    font-family: var(--secondary-font);
    padding-top: 70px;
}
.head-about h2{
    font-size: 50px;
    font-weight: 700;
}
.text-11{
    color: var(--secondary-color);
}

.subhead-about{

    font-family: var(--secondary-font);
    padding-top: 70px;
    }
    .subhead-about p{
        text-align: center;
        font-weight: 700;
    }
 .point-block-33{
    box-sizing: border-box;
    height: 250px;
    background-image: url(src/about-block-11.jpg);
    background-size: cover;
    background: 0.7;
    border-radius: 20px;
 }
 .point-block-34{
    box-sizing: border-box;
    height: 250px;
    background-image: url(src/about-block-12.jpg);
    background-size: cover;
    background: 0.7;
    border-radius: 20px;
 }
 .point-block-35{
    box-sizing: border-box;
    height: 250px;
    background-image: url(src/about-block-13.png);
    background-size: cover;
    background: 0.7;
    border-radius: 20px;
 }
 .point-text-block-11{
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: var(--primary-font);
 }
 .point-text-block-22{
    font-family: var(--secondary-font);
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
 }
 .about-all-text{
    padding-bottom: 50px;
 }
 .niche-page{
    background-color: var(--primary-color);
 }
 .niche-heading{
    text-align: center;
 }
 
 .niche-main-head{
    padding-top: 80px;
    padding-bottom: 10px;
    font-family: var(--secondary-font);
   }
   .niche-main-head h2{
     font-size: 50px;
     font-weight: 600;
   }
  
 .niche-subhead{
    padding-bottom: 50px;
    font-family: var(--primary-font);
 }
 .niche-subhead p{
    font-size: 20px;
 }
 ._12-grid{
    min-height: 700px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    display: block;
    position: relative;
 }
.line-desk{
    z-index: 0;
    width: 98%;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0;
}
.round-point{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid var(--secondary-color);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
box-shadow: 2px 2px 1px 1.5px rgba(63, 63, 63, 0.2 );
}
.number-pixel{
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 20px;
    line-height: 25px;
    padding-top: 10px;
}
.niche-point{
    grid-row-gap: 15px;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: absolute;
}
.niche-point a:hover{
    text-decoration: none;
    cursor: context-menu
}
 ._00{
    top: -25px;
    bottom: 560px;
    left: 60px;
}
._01{
     top: -25px;
    bottom: 550px;
    left: 530px;
}
._02{
    top: 150px;
    left: 680px;
}
._03{
    top: 150px;
    left: 220px;
}
._04{
    top: 325px;
    left: 460px;
}
._05{
    top: 325px;
    left: 890px;
}
.sub-h{
    color: #3f3f3f;
    font-family: var(--primary-font);
    font-size: 18px;
}
.link-contact{
    padding-left: 60px;
    color: var(--secondary-color);
    text-decoration: underline;
}
.link-contact a{
    color: var(--secondary-color);
}
.link-contact a:hover{
background-color: var(--secondary-color);
color: var(--primary-color);
border-radius: 30px;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 8px;
transition: 10ms  ease-in-out;
cursor: pointer;
}
.serv-head{
     font-family: var(--secondary-font);
    padding-top: 70px;
    padding-bottom: 70px;
}
.serv-head h2{
      font-size: 50px;
    font-weight: 700;
}

.service-page{
    background-color: var(--primary-color);
}
.serv-img{
    width: 320px;
    height: 530px;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3 );
}
.serv-txt-1{
    font-family: var(--primary-font);
   }
   .serv-txt-1 h2{
        font-size: 24px;
        line-height: 15px;
        display: inline-block;
   }
   .serv-txt-1 p{
        font-size: 14px;
    line-height: 17px;
   }
   .serv-txt-1 .img-11{
    width: 100px;
    height: 80px;
   }
   .calendar-page{
    background-color: var(--primary-color);
   }
 
   .calendar ul{
    list-style: none;
   }
   .month{
    padding: 20px 25px;
    background-color:#e5ced0;
    width: 100%;
    text-align: center;
    font-family: var(--primary-font);
   }
   .month .prev{
    padding-top: 27px;
    float: left;

   }
   .month .next{
    padding-top: 27px;
    float: right;
   }
   .month ul{
    margin: 0;
    padding: 0;
   }
   .month ul li{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
   }
   .month .current-year{
    font-size: 20px;
    letter-spacing: 4px;
   }
   .weekdays{
    margin: 0;
    padding: 10px 0;
    background-color: #e5ced0 ;
    font-family: var(--primary-font);
    font-size: 16px;
    letter-spacing: 1.5px;
   }
   .weekdays li{
    display: inline-block;
    width: 13.8%;
    text-align: center;
   }
   td p.day-123{   
    font-family: var(--primary-font);
    font-size: 15px;
   }
   td a{
    text-decoration: none;
    color: black;
   }
   td a:hover{
    text-decoration: none;
   }
   .feedback-page{
    background-color: var(--primary-color);
    text-align: center;
   }
   .feed-head ul{
    list-style: none;
   }
   .feedback-hd{
font-family: var(--secondary-font);


   }
   .feedback-hd h2{
      font-size: 60px;
    font-weight: 700;
    color: var(--secondary-color);
    padding-top: 50px;
    letter-spacing: 2px;
}
   .feed-head .prev-feed{
    float: left;
   }
   .feed-head .next-feed{
    float: right;
   }
   .feed-subhead{
    font-family: var(--secondary-font);
    font-size: 15px;
   }
   .fdb-cards{
    display: inline-flex;
   }
   .fdb-crds{
    height: 300px;
    width: 300px;
    border: 1px solid #414141;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 4px 3px rgba(0, 0, 0, 0.2 );
margin-left: 25px;
font-family: var(--primary-font);
font-size: 12px;
   }